<li>
{{!-- {{@index}} --}}
	{{!-- Name of the Burger --}}

	{{name}}
{{!-- Action Buttons that go next to each Name. Either Yum Yum for Menu OR AllGone for Eat--}}
	{{#if eat}}
	<button class="change-devoured" data-id="{{id}}" data-neweaten="{{eat}}">
		Yum Yum!
	</button>
	{{/if}}
{{!-- delete button created here for each burger --}}
	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>